<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <typeAliases>
        <typeAlias alias="board" type="com.example.project3wilson0302.board.BoardVO"/>
    </typeAliases>

    <mappers>
        <mapper resource="mapper/login-mapper.xml"/>
    </mappers>

</configuration>
