<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.han_pick.dao.LoginDAO">

    <select id="findByLoginId" parameterType="string" resultType="com.example.han_pick.vo.LoginVO">
        SELECT login_id AS loginId,
               password,
               name,
               email
        FROM member
        WHERE login_id = #{loginId}
    </select>

    <insert id="insertMember" parameterType="com.example.han_pick.vo.LoginVO">
        INSERT INTO member (login_id, password, name, email)
        VALUES (#{loginId}, #{password}, #{name}, #{email})
    </insert>
</mapper>

